@model SystemRezerwacjiWizyt.Models.RequestRefuse

@{
    ViewBag.Title = "Przyczyna odrzucenia wniosku";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
          @Html.HiddenFor(model => model.RequestID, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Powód</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Wyślij" class="btn btn-default" />
            </div>
        </div>
    </div>
}


