@model SystemRezerwacjiWizyt.Models.EditUserVievModel

@{
    ViewBag.Title = "EditPatient";
}

<h2>EditPatient</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>EditUserVievModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.usr.Name.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usr.Name.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.usr.Name.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.usr.Name.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usr.Name.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.usr.Name.Surname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.usr.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usr.Mail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.usr.Mail, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model=>model.usr.PESEL)
        @Html.HiddenFor(model => model.usr.Password)
        <div style="visibility: hidden" >
            @Html.HiddenFor(Model => Model.usr.Active)
          
            @Html.HiddenFor(Model => Model.usr.Kind)
           
        </div>

        <div class="form-group">
            Aby zatwierdzić zmiany wprowadź hasło:
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @Html.ActionLink("Zmień hasło", "ChangePassword", "Account")
        @Html.ActionLink("Usuń konto", "DeleteAccount", "Account")
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


