@model List<DatabaseAccess.Model.ProfileRequest>
@{
    ViewBag.Title = "Requests";
}

<h2>Requests</h2>
<body>
    <div style="margin: 10px; width: 100%; margin-left: auto; margin-right: auto;">
        <table>
            <thead>
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>PESEL</th>
                    <th>Specjalizacje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <td>@request.NewProfile.User.Name</td>
                        <td>@request.NewProfile.User.PESEL</td>
                        <td>@request.NewProfile.User.PESEL</td>
                        <td>
                            @foreach (var Spec in request.NewProfile.Specialization)
                            {
                                @Spec.Name<br />
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Akceptuj", // linkText
                        "AcceptRequests", // actionName
                        "Account", // controllerName
                        new
                        {
                            // routeValues
                            ID = @request.Key

                        },
                        null)
                        </td>
                        <td>
                            @Html.ActionLink("Odmów", // linkText
                        "DeclineRequests", // actionName
                        "Account", // controllerName
                        new
                        {
                            // routeValues
                            ID = @request.Key

                        },
                        null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
