@{
    ViewBag.Title = "Home Page";
    bool IsLogged;
    Person LoggedIn = null;
    if (Session["User"] == null)
    {
        IsLogged = false;
    }
    else
    {
        IsLogged = true;
        LoggedIn = (Person)Session["User"];
    }

}
@using System.Text
@using DatabaseAccess.Model
@model SystemRezerwacjiWizyt.Models.IndexHomeViewModels
@{
    var Speclist = Model.specs;
}
@*@{
        bool IsLogged;
        DatabaseAccess.Model.User LoggedIn = null;
        if (Session["User"] == null)
        {
            IsLogged = false;
        }
        else
        {
            IsLogged = true;
            LoggedIn = (DatabaseAccess.Model.User)Session["User"];
        }
    }*@

<div style="margin: 10px; width: 100%; margin-left: auto; margin-right: auto;">


    <div style="float: left; margin-right: 20px; width: 25%" class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 5px; padding-bottom: 5px"><h4>Filtrowanie</h4></div>
        <div class="panel-body" style="margin-left: 10px">
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
                <div class="form-group">
                    <label class="control-label col-md-2">Specjalizacja: </label>
                    @Html.DropDownListFor(m => m.SelSPec, new SelectList(Speclist, "Key", "Name", "0"), "Wybierz... ", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Nazwisko: </label>
                    @Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
                </div>
                <div class="form-group" style="float: left; margin-right: 5px">
                    <input type="submit" value="Szukaj" class="btn btn-primary" />
                </div>
                <div class="form-group" style="float: left">
                    @Html.ActionLink("Resetuj filtry", "Search", "Home", null, new {@class="btn btn-default"})
                </div>
            }
        </div>
        <div style="clear: both"></div>
    </div>
    <div style="float: left; width: 65%;">
        <table>
            <thead>
            <tr>
                <th>Doktor</th>
                <th>Specjalizacje</th>
                <th>Średnia ocena</th>
                <th>Pierwszy wolny termin</th>
            </tr>
            </thead>
            @foreach (var Doctor in Model.docs)
            {
                <tr>
                    <td style="font-weight: 600">@Doctor.User.Name.ToString()</td>
                    <td>
                        @foreach (var Spec in Doctor.Specialization)
                        {
                            @Spec.Name<br />
                        }
                    </td>
                    @{
                        var value = Doctor.AverageRate?.ToString();

                        if (value == null)
                        {
                            <td>Brak ocen</td>
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink(@value, "ShowOpinions", "Opinion", new { id = @Doctor.Key }, new { target = "_blank" })
                            </td>
                        }
                    }
                    @{
                        var date = Doctor.FirstFreeSlot;
                        <td>@date.ToString("dd.MM.yyyy")<br />@date.ToString("HH:mm")</td>
                    }
                    @if (IsLogged && LoggedIn is Patient)
                    {
                        <td>
                            @Html.ActionLink("Zarezerwuj wizytę",
                                "AddVisit",
                                "Visit",
                                new
                                {
                                    DoctorId = @Doctor.Key
                                },
                                null)
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
<div style="clear: both"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}