@{
    ViewBag.Title = "Home Page";
    bool IsLogged;
    DatabaseAccess.Model.Person LoggedIn = null;
    if (Session["User"] == null)
    {
        IsLogged = false;
    }
    else
    {
        IsLogged = true;
        LoggedIn = (DatabaseAccess.Model.Person)Session["User"];
    }
}
@using DatabaseAccess.Model
@using Microsoft.AspNet.Identity
@model IEnumerable<DatabaseAccess.Model.Doctor>
@*@{
    bool IsLogged;
    DatabaseAccess.Model.User LoggedIn = null;
    if (Session["User"] == null)
    {
        IsLogged = false;
    }
    else
    {
        IsLogged = true;
        LoggedIn = (DatabaseAccess.Model.User)Session["User"];
    }
}*@

<body>
<div>
    <h6>@ViewBag.Message</h6>
    <table>
        <tr><td>Doktor</td><td>Specjalizacje</td><td>Pierwsza Wolna Godzina</td></tr>
        @foreach (var Doctor in Model)
        {
            <tr>
                <td>@Doctor.User.Name.ToString()</td>


                @foreach (var Spec in Doctor.Specialization)
                {

                    <td>
                        @Spec.Name.ToString()
                    </td>

                }


                <td>
                    @Doctor.FirstFreeSlot.ToString()
                </td>
                @if (IsLogged && LoggedIn is Patient)
                {
                    <td>@Html.ActionLink("Zarezerwuj Wizyte",                                                  // linkText
                            "AddVisit",                                    // actionName
                             "Visit",                     // controllerName
                        new
                            {                                                     // routeValues
                             DoctorId = @Doctor.Key
        
                                    },
                        null)
                </td>
                }
                


            </tr>

        }
    </table>
</div>
</body>