@using SystemRezerwacjiWizyt.Models
@model List<DatabaseAccess.Model.Specialization>
@{
    ViewBag.Title = "Specjalizacje";
}

<div style="margin: 10px; width: 40%; margin-left: 0;">
    @if (ViewBag.MSG != null)
    {
        <div class="alert alert-danger" style="margin-top: 10px">@ViewBag.MSG</div>
    }
    <table>
        <thead>
        <tr>
            <th>Nazwa</th>
        </tr>
        </thead>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Name</td>
                <td>@Html.ActionLink("Usuń", "DelSpec", "Specializations", new {ID = @a.Key}, null)</td>
            </tr>
        }
    </table>
    @Html.ActionLink("Dodaj nową specjalizację", "AddSpec", "Specializations", null, new {@style = "margin-top: 20px", @class = "btn btn-primary"})
</div>
