@using DatabaseAccess.Model
@model SystemRezerwacjiWizyt.Models.RegisterVisit

@{
    ViewBag.Title = "Zarezerwuj wizytę";
    var Speclist = Model.doc.Specialization;
    var Datelist = Model.DateToChoose;
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            document.getElementById("NextWeek").value = false;
            document.getElementById("PastWeek").value = false;
        });

        function SetNextWeekTrue() {
            document.getElementById("NextWeek").value = true;
            document.getElementById("PastWeek").value = false;
        }

        function SetPrevWeekTrue() {
            document.getElementById("NextWeek").value = false;
            document.getElementById("PastWeek").value = true;
        }


    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <h3>Zarezerwuj wizytę u @Model.doc.User.Name.ToString()</h3>
            <hr />
            @{
                var week = (Week)Session["Week"];
                <h4>Wybrany tydzień: @week.From.ToString("dd.MM.yyyy") - @week.From.AddDays(6).ToString("dd.MM.yyyy")</h4>
            }
            <div style="margin-top: 15px">
                <button class="form-control" style="display: inline-block; float: left; width: 150px" onclick="SetPrevWeekTrue();">Poprzedni tydzień</button>
                <button class="form-control" style="display: inline-block; width: 150px; margin-left: 5px" onclick="SetNextWeekTrue();">Następny tydzień</button>
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Specjalizacja</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedSpec, new SelectList(Speclist, "Key", "Name", "0"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Termin</label>
                <div class="col-md-10">

                    @Html.DropDownListFor(model => model.ChosenDate, new SelectList(Datelist, "Key", "See", "0"), "Wybierz...", new { @class = "form-control" })
                    @for (int i = 0; i < Model.DateToChoose.Count(); i++)
                    {
                        @Html.HiddenFor(m => m.DateToChoose[i].date)
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zarezerwuj" class="btn btn-primary" />
                </div>
            </div>

            <div class="checkbox" style="visibility: collapse">
                @Html.TextBoxFor(model => model.GetNextWeek, new { id = "NextWeek" })
            </div>
            @Html.HiddenFor(model => model.doc.User.Name.Name)
            @Html.HiddenFor(model => model.doc.User.Name.Surname)
            @Html.HiddenFor(model => model.doc.Key)
            @Html.HiddenFor(model => model.doc.User.Key)
            @for (int i = 0; i < Model.doc.Specialization.Count(); i++)
            {
                @Html.HiddenFor(m => m.doc.Specialization[i].Name)
            }
            <div class="checkbox" style="visibility: collapse">
                @Html.TextBoxFor(model => model.GetPasttWeek, new { id = "PastWeek" })
            </div>

        </div>
                }
</body>