@using DatabaseAccess.Model
@model List<Visit>
@{
    ViewBag.Title = "Twoje wizyty";
}
<head>
    <script type="text/javascript">
        function confirmCancel(id)
        {
            var esc = window.confirm('Czy na pewno chcesz odwołać wizytę?');
        }
    </script>
</head>
<h3>@ViewBag.Title</h3>
<div class="navbar navbar-default">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Archiwalne", "ShowArchiwalVisits", "Visit")</li>
            <li>@Html.ActionLink("Przyszłe", "ShowVisits", "Visit")</li>
        </ul>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Imię i nazwisko</th>
            <th>Specjalizacja</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
            {
            <tr>
                @if (Session["User"] is Patient)
                {
                    <td>@a.Doctor.User.Name.ToString()</td>
                    <td>@a.Spec.ToString()</td>
                        <td>@a.Date.ToString()</td>
                    if (@a.Date >= DateTime.Now.AddHours(1))
                    {
                        <td>@Html.ActionLink("Odwołaj", "DeleteVisit", "Visit", new { VisitId = @a.Key }, new { onclick= "window.confirm('Czy na pewno chcesz odwołać wizytę?')" })</td>
                    }
                    if (@a.Date < DateTime.Now)
                    {
                        <td>@Html.ActionLink("Oceń", "AddOpinion", "Opinion", new { id = @a.Doctor.Key }, null)</td>
                    }
                }
                else if (Session["User"] is Doctor)
                {
                    <td>@a.Patient.User.Name.ToString()</td>
                    <td>@a.Spec.ToString()</td>
                        <td>@a.Date.ToString()</td>
                    if (@a.Date < DateTime.Now.AddHours(1))
                    {
                        <td>@Html.ActionLink("Odwołaj", "DeleteVisit", "Visit", new { VisitId = @a.Key }, new { onclick = "window.confirm('Czy na pewno chcesz odwołać wizytę?')" })</td>
                    }
                }
            </tr>
        }
    </tbody>
</table>