@using DatabaseAccess.Model
@model List<Visit>
@{
    ViewBag.Title = "Twoje wizyty";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Archiwalne","ShowArchiwalVisits","Visit");
@Html.ActionLink("Przyszłe", "ShowVisits", "Visit");
<table>
    <thead>
        <tr>
            <th>Imię i nazwisko</th>
            <th>Specjalizacja</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
            {
            <tr>
                @if (Session["User"] is Patient)
                {
                    <td>@a.Doctor.User.Name.ToString()</td>
                        <td>@a.Spec.ToString()</td>
                        <td>@a.Date.ToString()</td>
                    if (@a.Date >= DateTime.Now.AddHours(1))
                    {
                        <td>@Html.ActionLink("Odwołaj", "DeleteConfirmationVisit", "Visit", new { VisitId = @a.Key }, null)</td>
                    }
                    if (@a.Date < DateTime.Now)
                    {
                        <td>@Html.ActionLink("Oceń", "AddOpinion", "Opinion", new { id = @a.Doctor.Key }, null)</td>
                    }
                }
                else if (Session["User"] is Doctor)
                {
                    <td>@a.Patient.User.Name.ToString()</td>
                        <td>@a.Spec.ToString()</td>
                        <td>@a.Date.ToString()</td>
                    if (@a.Date < DateTime.Now.AddHours(1))
                    {
                        <td>@Html.ActionLink("Odwołaj", "DeleteConfirmationVisit", "Visit", new { VisitId = @a.Key }, null)</td>
                    }
                }

            </tr>
        }
    </tbody>
</table>